<div class="main-content">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-12" style="position: absolute;">
                <div class="card" style="position: relative; margin-left: 20px;max-width: 80%;">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title text-center" style="font-weight: bold;">INVENTARIO</h4>

                    </div>
                    <div class="card-body">
                       <div class="col-md-12">
                        <div class="card-deck">
                            <div class="card">
                              <div class="card-body">
                                  <div class="card-deck">
                                    <h5 class="card-title" style="font-weight: bold;">Pizza Margarita</h5>
                                   
        
                                    
                                    
                                   
                                      
                                          <div class="card-body">
                                            <div class="text-right">
                                                
                                                <img src="https://www.doblepizza.com/pizza_cupones_domicilios/img/pizza4u.png" style="width:10%">
                                                <a>Personal</a>
                                                <img src="https://www.doblepizza.com/pizza_cupones_domicilios/img/pizza6u.png"style="width:20%">
                                                <a>Grande</a>
                                                <img src="https://www.doblepizza.com/pizza_cupones_domicilios/img/pizza8u.png"style="width:30%">
                                                <a>Familiar</a>
        
                                            </div>

                                          </div>
                                       

                                      
                                    

                                  </div>
                                

                               
                              </div>
                            </div>
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza Hawaii</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                
                              </div>
                            </div>
                           
                          </div>
                          <div class="card-deck">
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Piza Veggie</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                
                              </div>
                            </div>
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza la nuestra title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                
                              </div>
                            </div>
                           
                          </div>
                          <div class="card-deck">
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza Roma</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                
                              </div>
                            </div>
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza Pollo y Champiñones</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                
                              </div>
                            </div>
                           
                          </div>
                          <div class="card-deck">
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza Jamon queso</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                
                              </div>
                            </div>
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza Katatonia</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                
                              </div>
                            </div>
                           
                          </div>
                          <div class="card-deck">
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza Julia House</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                
                              </div>
                            </div>
                            <div class="card">
                              
                              <div class="card-body">
                                <h5 class="card-title">Pizza Pollo barbacoa</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                
                              </div>
                            </div>
                           
                          </div>
                          <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Pizza Peperoni</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                
                              </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">4 Carnes</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  
                                </div>
                              </div>
                           
                           
                          </div>
                       
                         
                         

                       </div>
                        
                       
                            
                            
                            

                        
                       
                    
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>