<div class="main-content">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-12" style="position: absolute;">
                <div class="card" style="position: relative; margin-left: 20px;max-width: 80%;">
                    <div class="card-header card-header-warning" >
                        <h4 class="card-title text-center" style="font-weight: bold;">INVENTARIO</h4>

                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <p>Descripcion</p>

                                </div>


                            </div>

                        </div>
                       
                    
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>